<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ShareThis – Media Library</title>
    <link th:href="@{bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{media.css}" rel="stylesheet"/>
</head>

<form th:action="@{/logout}" method="get">
    <button class='btn btn-danger float-end' style="margin-right: 6em" type="submit">Log out</button>
</form>

<article class="video-sec-wrap">
    <div class="video-sec">
        <p class="video-sec-title">Media Library</p>
        <ul class="video-sec-middle" id="vid-grid">
            <li th:each="m : ${media}" class="thumb-wrap"><a th:href="@{/media/playback/mp4/{id}(id=${m.path})}">
                <img class="thumb" th:src="@{${'img/thumbnails/' + m.thumbnailName + '.jpg'}}" alt="">

                <div class="thumb-info">
                    <p class="thumb-title" th:text="${m.title}"></p>
                    <p class="thumb-user">Username</p>
                    <p class="thumb-text" th:text="${m.duration}"></p>
                </div>
            </a></li>
            <li class="thumb-wrap"><a href="#">
                <img class="thumb" th:src="@{${'img/addContentButton.jpg'}}" alt="">
                <div class="thumb-info">
                    <p class="thumb-title text-center">Add new content</p>
                    <p class="thumb-user text-center">Click to add something new</p>
                </div>
            </a></li>
        </ul>
    </div>
</article>

<p class="mt-4 text-muted text-center">OOAD Team 4 &copy; 2020</p>

</html>