<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Media </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>  </th>
                    <th> Title </th>
                    <th> Duration </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${media.empty}">
                    <td colspan="3"> No Media Available </td>
                </tr>
                <tr th:each="m : ${media}">
                    <td>
                        <a id="photoButton" th:href="@{'/invincible.jpg'}">
                            <img th:src="@{'/invincible.jpg'}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/media/playback/mp4/{id}(id=${m.path})}"><span th:text="${m.title}"></span></a>
                    </td>
                    <td><span th:text="${m.duration}"> Duration </span></td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        <div class="col-md-6">-->
<!--            <a class="btn btn-success" href="#" th:href="@{/books/create}"> Add Books </a>-->
<!--            <a class="btn btn-primary" href="#" th:href="@{/books/edit}" th:classappend="${media.empty} ? 'disabled' : ''"> Edit Books </a>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>